/* name : Nusrath Jahan Sukhy 
template : onlinetrady

1. General part
2. hero part
3. about part
4. Features part
5. pricing Section part
6. private policy part
7. footer part
8. media screen*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 1. Gerneral part start  */
body {
    font-family: 'Dosis', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.col-lg-5 {
    width: 50%;
}
.row {
    display: flex;
    justify-content: space-between;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.bg {
    background-color: #f3f5fa;
}
/* 1. Gerneral part end  */


/*2. hero part start  */

.hero__home-img img {
    width: 100%;
}
.hero {
    padding: 11rem 0;
}

.hero__home-caption {
    display: flex;
    flex-direction: column;
}

.hero__btn {
    display: flex;
    margin-top: 1rem;
}

h5.hero__tagline {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.0625rem;
    margin-bottom: 0.8rem;
    color: #0f4e79;
    font-family: "Poppins", sans-serif;
}

h1.hero-title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.34;
    margin-bottom: 12px;
    color: black;
}

h1.hero-title span {
    color: #0f4e79;
}

p.hero_desc {
    font-size: 1.3rem;
    line-height: 1.56;
    letter-spacing: 1px;
    color: #000;
}

p.hero_desc b {
    font-weight: bold;
}

.hero__btn,
.btn {
    margin-right: 1.4rem;
}
.btn:hover {
    background: linear-gradient(-45deg, #274685, #1391a5);
}
p.hero__cont {
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-top: 32px;
    font-weight: 500;
}

p.hero__cont i {
    margin-right: 1rem;
    color: #0f4e79;
}

a {
    color: #0f4e79;
    transition: 0.3s all ease;
    text-decoration: none;
}




/*3. about part start  */
section {
    padding: 7rem 0;
}

.section-heading-1 {
    font-size: 1.6rem;
    margin: 25px 0;
    font-weight: 600;
    background: linear-gradient(-45deg, #3db3c5, #274685);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para-p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #212529;
    line-height: 1.4;
}




.section-heading {
    font-size: 2.1rem;
    font-weight: 600;
    background: linear-gradient(-45deg, #3db3c5, #274685);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}


/*4. Features part start */
.all-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-box {
    width: 300px;
    margin-bottom: 60px;
}

.single-box i {
    font-size: 1rem;
    margin-bottom: 1rem;
    background: teal;
    padding: 18px;
    border-radius: 54%;
    color: white;
}

.single-box h3 {
    margin: 16px 0;
    font-size: 20px;
    text-align: left;
}

.section-title {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}



/*5. pricing Section part start  */

.table {
    padding: 30px 20px;
}
.block-pricing {
    background: #f3f5fad1;
    display: inline-block;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 2px 27px -8px #8080802b;
    margin: 28px;
}

.col-md-4 {
    width: 340px;
    text-align: center;
}

ul.list-unstyled {
    display: block;
    text-align: start;
}

.table h2 {
    margin-bottom: 20px;
}

.table h4 {
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #3db3c5, #274685);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table_btn a {
    background: #0f4e79;
    color: #fff;
    margin: 1rem;
    display: inline-block;
    padding: 1rem 30px;
    border-radius: 5px;
}

.table_btn a:hover {
    background: black;
}
/* pricing Section part end  */


/*6. private policy part start  */
.heron {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    ALIGN-ITEMS: CENTER;
}

.heron .section-heading {
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(223, 227, 255, 0.5);
    font-size: 2.3rem;
    font-weight: bold;
}

.all-bottom_spacing {
    margin-top: 70px;
}

/* private policy part end  */



/*8. footer prat start  */
footer.footer {
    padding: 15px 0;
    background: #fafafa;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
    height: 100%;
    line-height: 60px;
    color: #4d4c4c;
}

.copyright {
    font-size: 1rem;
}

.menu {
    float: right;
}

.col-md-5,
.menus a {
    display: inline-block;
    margin: 0px 11px;
    color: #737171a8;
    font-family: math;
}

.col-md-5,
.menus a:hover {
    color: black;
}

/* footer prat end  */





/*8. media screen start  */

.mobileMenu {
    display: none;
}
@media (max-width:450px) {
    .row {
        display: block;
    }
    .col-lg-5 {
        width: 100%;
    }
    .col-md-4 {
        text-align: center;
    }
    .single-box {
        width: 100%;
    }
    .mobileMenu {
        width: 25% !important;
        display: block;
    }
    .container{
	padding-right:3%;
    }
}
@media (max-width:780px) {
    .row {
        display: block;
    }
    .col-lg-5 {
        width: 100%;
    }
    .col-md-4 {
        text-align: center;
        /* margin: 70px 0px; */
    }
    .single-box {
        width: 100%;
    }
    .mobileMenu {
        width: 45% !important;
        display: block;
    }
}
@media (max-width:1180px) {

    ul li {
        width: 100%;

    }
    .menu {
        width: 300px !important;
        background-color: white;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        float: none;
        margin-top: 80px;
        transition: all .5s;
    }
    ul li {
        float: none;
        padding: 19px 0px !important;
        width: 100%;
        margin: 0px 25px !important;
    }

    nav#main-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .mobileMenu {
        width: 60%;
        display: block;
    }
    .showMobileMenu{
        right: 0 !important;
    }
    .mobileMenu a {
        float: right;
        font-size: 1.89rem;
        font-weight: 700;
        cursor: pointer;
    }
    .mobileMenu a:hover{
        font-size: 1.5rem;
    }
}

/* media screen end */